body {
    background-color:#2B2A2B ;
}

header nav ul {
    display:flex ; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #707070  solid 1px;
   
    
}

header nav ul li { 

    list-style: none;
    text-decoration: none;
    margin-right: 3.125em;
    color: #707070;
    margin-top:1.125em ;
    margin-bottom:1.5625em ;

}

header nav ul li a{
    text-decoration: none;
    color: #707070;
    font-family: 'montserrat'; 
}

header nav ul li a.active {
    color: #ffffff; 
}

.logo{
    position: absolute;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
  margin-left:-25em ;
  margin-top: -1.75em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic{
    margin-left: 65px;
    margin-top: 100px;
}
p{
    font-family: 'montserrat';
    color: #707070;
    

}
.name{
    font-family: 'montserrat';
    color: #ffffff;
    font-style: normal;
    display:flex ; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 313px;

}
.greating{
    position: absolute;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 840px;
}
.job{
    position: absolute;
    margin-top: 265px;
    margin-left: 820px;
    font-size: 1.25em;
}
.click{
    position: absolute;
    margin-top: 350px;
    margin-left: 825px;
    background-color: #ABDB25;
     width: 200px;
     height: 60px;
    border-radius: 36px;
    border: none;

}
.go{
    text-decoration: none;
    color: #ffffff;
    font-family: 'montserrat';
    font-size:1.25em ;

}
.social{
    width: 26px;
    height: 26px;
    margin-right: 5px;
}
.tweet{
    position: absolute;
    width: 50px;
    height: 33px;
    margin-top: 5px;

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:59px;
    font-size: 12px;
}

.aboutbtn{
    background-color: #ABDB25;
     width: 200px;
     height: 60px;
    border-radius: 36px;
    border: none;
    color: #ffffff;
    font-family: 'montserrat';
    font-size: 1.25em;
}
.txt1{
    font-family: 'montserrat';
    color: #ffffff;
    font-style: normal;

  
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px ;
}

.two{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 190px;
    margin-top: 70px ;
    

}
.txt2{
    font-family: 'montserrat';
   color: #ABDB25; 
}

.three{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.four{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.backgroundcolor{
    background-color: #413C3C;
}

.color{
    background-color: #2B2A2B;
}
.mywork{
    
    color: #ffffff;
    font-family: 'montserrat';
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.prj{
    
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/*

*/
.card{
    position: absolute;
    text-decoration: none;
color: #ABDB25;
margin-left:1.25em ;
margin-top: 5px;
width: 225px;
}
.box{
    background-color: #ffffff;
    width: 360px;
    height: 428px;

}
.des1{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.par{
    margin-left:1.25em ;
}
.log{
    width: 40px;
    height: 40px;
}
.boxsection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.send{
    display: flex;
    justify-content: flex-start;
   

}
h1{
    float: left;
    color: #ABDB25;
    font-family: 'montserrat';
    font-size:1.25em ;
    display: block;
    font-weight: lighter;
    
}
.text{
    width:20.75em ;
    height:9.375em ;
    border-radius:1.875em ;
    border: none;
}
.line{
    width:9.375em ;
    display: inline-block;
    font-family: 'montserrat';
    color:#B2A5A5 ;
    
    
    
}
.infos{
    display: flex; 
    align-items: center;
    justify-content: space-around;
   
}
input{
    width:20.75em ;
    height:3.5em ;
    border-radius: 1.875em;
    border: none;
    margin-top: 1.25em;

}
.all{
    margin-top:0.9375em ;
}
.title{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
   margin-right:61.25em ;
    
}
.btn{
    background-color: #ABDB25;
    width:11.5em ;
    height:2.75em ;
   border-radius:2.25em ;
   border: none;
   color: #ffffff;
   font-family: 'montserrat';
   font-size: 1.25em;
   margin-top:1.25em ;
   margin-left: 14em;
}


@media (max-width: 375px) {
    a {
        font-size: 10px;

    }
    
}